{% extends 'base.html' %}

{% block title %} Baykar Teknoloji - Anasayfa {% endblock %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
        <div class="container">
        <a class="navbar-brand" href="{% url 'homepage' %}">
            <img src="https://cdn.baykartech.com/media/images/contents/Baykar-Logo.svg" alt="Baykar Logo">
        </a>
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link m-1 btn" href="{% url 'profile' %}" style="font-size: 20px; color: white">Kiraladığım İHA'lar</a>
                <button class="nav-item nav-link m-1 btn" style="font-size: 20px; color: white" onclick="logout()">Çıkış</button>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        <table id="ihasTable" class="display" style="width:100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Marka</th>
                    <th>Model</th>
                    <th>Kategori</th>
                    <th>Ağırlık</th>
                    <th>Saatlik Ücret</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="modal fade" id="rentModal" tabindex="-1" aria-labelledby="newModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="newModalLabel">İHA Kirala</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group m-3">
                        <h4 id="modal_brand">Marka: </h4>
                    </div>
                    <div class="form-group m-3">
                        <h4 id="modal_model">Model: </h4>
                    </div>
                    <div class="form-group m-3">
                        <h4 id="modal_category">Kategori: </h4>
                    </div>
                    <div class="form-group m-3">
                        <h4 id="modal_weight">Ağırlık: </h4>
                    </div>
                    <div class="form-group m-3">
                        <h4 id="modal_hourly_wage">Saatlik Ücret: </h4>
                    </div>
                    <hr>
                    <div class="form-group m-3">
                        <label for="modal_start_date">Başlangıç Tarihi: </label>
                        <input type="datetime-local" class="form-control" id="modal_start_date" name="modal_start_date">
                        <label for="modal_end_date">Bitiş Tarihi: </label>
                        <input type="datetime-local" class="form-control" id="modal_end_date" name="modal_end_date">
                    </div>
                    <div class="form-group m-3">
                        <button class="form-control btn btn-warning" id="calculateButton" onclick="calculateAmount(this)">Hesapla</button>
                        <h4 class="mt-3" id="amount">Ödenecek Tutar: </h4>
                        <input type="hidden" id="totalAmount" value="">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
                    <button type="button" class="btn btn-primary" name="tempName" onclick="rentIHA(this.id)">Kirala</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="currentUserID" value="">
{% endblock %}

{% block extra_script %}
    <script>

        const token = localStorage.getItem("Token");

        $(document).ready(function () {

            getCurrentUserData(); // User ID bilgisini almak için

            $('#rentModal').on('hidden.bs.modal', function (e) {
                $('#modal_brand').text("Marka: ");
                $('#modal_model').text("Model: ");
                $('#modal_category').text("Kategori: ");
                $('#modal_weight').text("Ağırlık: ");
                $('#modal_hourly_wage').text("Saatlik Ücreti: ");
                $(".modal-body input").val("");
            });

            $('#ihasTable').DataTable({
                "serverSide": true,
                "ajax": {
                    url: '/api/iha/?format=datatables',
                    headers: { "Authorization": "Token " + token }
                },
                "columns": [
                    {"data": "id"},
                    {"data": "brand"},
                    {"data": "model"},
                    {"data": "category"},
                    {"data": "weight"},
                    {"data": "hourly_wage"},
                    {
                        "render": function (data, type, row) {
                             return '<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#rentModal" onclick="getData(' + row.id + ' , ' + row.hourly_wage + ')">Kirala</button>';

                        }
                    }
                ],
                "columnDefs": [
                    { "targets": 0, "visible": false, "searchable": false },
                    { "targets": 6, "searchable": false, "orderable": false },
                    { "targets": 5,
                      "render": function (data) {
                          let formattedData = parseFloat(data).toLocaleString('tr-TR', { style: 'currency', currency: 'TRY' });
                          return formattedData;
                      }
                    },
                    { "className": "dt-head-center", targets: [0,1,2,3,4,5,6]},
                    { "className": "dt-body-center", targets: [0,1,2,3,4,5,6]}
                ]
            });
        });

        function getData(id, hourly_wage) {
            if(id) {
                $.ajax({
                    url : "/api/iha/" + id + "/",
                    type: "GET",
                    headers: { "Authorization": "Token " + token },
                    success: function(data, status) {
                        if(status === "success") {
                            $('#modal_brand').append(data.brand);
                            $('#modal_model').append(data.model);
                            $('#modal_category').append(data.category);
                            $('#modal_weight').append(data.weight);
                            $('#modal_hourly_wage').append(data.hourly_wage + "₺");
                            $('button[name="tempName"]').attr('id', id);
                            $('#calculateButton').data('wage', hourly_wage);
                        }
                    },
                    error: function (error) {
                        alert("Error!");
                        console.error("Error: ", error);
                    }
                });
            } else {
                alert("ID bulunamadı!");
            }
        }

        function rentIHA(ihaID){
            let user = $('#currentUserID').val();
            let iha = ihaID;
            let start_date = $('#modal_start_date').val();
            let end_date = $('#modal_end_date').val();
            let wage = $('#totalAmount').val();

            $.ajax({
                url: "/api/rented-iha/",
                type: "POST",
                headers: { "Authorization": "Token " + token },
                data: {
                    "user": user,
                    "iha": iha,
                    "start_date": start_date,
                    "end_date": end_date,
                    "wage": wage,
                },
                success: function (data, status) {
                    if(data && status === "success") {
                        alert("İHA başarıyla kiralandı!");
                        $('#rentModal').modal('hide');
                        window.location.href = {% url 'profile' %}
                    }
                },
                error: function (error) {
                    alert("Error!");
                    console.error("Error: ", error);
                }
            });
        }

        function logout() {
            $.ajax({
                url : "{% url 'api-logout' %}",
                type: "POST",
                headers: { "Authorization": "Token " + token },
                success: function(data, status) {
                    if(data.message === "Successfully logged out." && status === "success") {
                        alert("Çıkış yapıldı!");
                        localStorage.removeItem("Token");
                        window.location.replace({% url 'login' %});
                    }
                },
                error: function (data, error) {
                    alert("Error!");
                    console.error("Error:", error);
                }
            });
        }

        function calculateAmount(element) {

            let start_date = $('#modal_start_date').val();
            let end_date = $('#modal_end_date').val();

            if(start_date && end_date && end_date > start_date) {

                let hourly_wage = $(element).data('wage');
                let amount = 0;

                start_date = new Date(start_date);
                end_date = new Date(end_date);

                let difference = end_date - start_date;
                let hours = Math.floor(difference / (1000 * 60 * 60));
                let minutes = Math.floor((difference % (1000 * 60 * 60)) / (1000 * 60));
                let seconds = Math.floor((difference % (1000 * 60)) / 1000);

                console.log("Toplam Süre: " + hours + " saat, " + minutes + " dakika, " + seconds + " saniye");

                if(hours > 0) {
                    if(minutes > 0) {
                        hours++;
                    }
                    amount = hourly_wage * hours;
                    $('#amount').text("Ödenecek Tutar: " + amount + "₺");
                    $('#totalAmount').val(amount);
                }
            } else {
                alert("Tarih bilgilerini kontrol ediniz!");
            }
        }

        function getCurrentUserData() {
            $.ajax({
                url: "/api/current-user/",
                type: "GET",
                headers: { "Authorization": "Token " + token },
                success: function (data, status) {
                    if(data && status === "success") {
                        $('#currentUserID').val(data.id);
                    }
                },
                error: function (error) {
                    alert("Error!");
                    console.error("Error: ", error);
                }
            });
        }

    </script>
{% endblock %}
